.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(121, 160, 173); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 10px 10px 10px 24px;
    text-decoration: none;
    font-size: 18px;
    color: darkslategray;
    display: block;
    transition: 1.0s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 30px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#sidenav {
    font-size: 24px;
    color: darkslategray;
    font-family: fantasy;
    font-weight: bold;
}

.button {
    display: block;
    width: 100px;
    height: 25px;
    background: lightgray;
    padding: 10px;
    text-align: center;
    color: silver;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: 47%;
    margin-right: 53%;
    width: 50%;
}

#audio {
    display: none;
}